---
import { getContents, getSections, getSectionsWithPages } from '@utils/content';
import type { GetStaticPaths } from 'astro';
import { render, type CollectionEntry } from 'astro:content';

import Search from '@components/Search.astro';
import BaseLayout from '@layouts/BaseLayout.astro';
import PostList from '@components/PostList.astro';
import Paginator from '@components/Paginator.astro';
import { absURL } from '@utils/resolve-url';

export const getStaticPaths = (async ({ paginate }) => {
  const contents = await getContents();
  const sections = getSections(contents);

  const sectionWithPages = getSectionsWithPages(sections, contents);
  const sectionIds = Array.from(sectionWithPages.keys());

  const allPaths = [];
  for (const sid of sectionIds) {
    const posts = sectionWithPages.get(sid) || [];

    const paginated = paginate(posts, {
      params: { section: sid },
      props: {
        entry: sections.find((s) => s.id === sid) as CollectionEntry<'content'>,
      },
      pageSize: 10,
    });

    allPaths.push(...paginated);
  }

  return allPaths;
}) satisfies GetStaticPaths;

const { entry, page } = Astro.props;
const { Content } = page.currentPage === 1 ? await render(entry) : {};

const { title, description, pubDate, updatedDate, tags, categories } = entry.data;

const pageTitle = Content ? title : `${title} | Page ${page.currentPage}`;
---

<BaseLayout
  seo={{
    title: pageTitle,
    description,
    pubDate,
    updatedDate,
    keywords: tags || categories,
    ogImage: {
      url: absURL(`og-images/${entry.id}.png`),
      width: '1200px',
      height: '630px',
    },
  }}
>
  <section>
    <article>
      <h1>{pageTitle}</h1>
      {Content && <Content />}
      {
        !Content && (
          <>
            <Search />
            <br />
          </>
        )
      }
    </article>
  </section>
  <section>
    <PostList title={Content && 'Daftar Postingan'} entries={page.data} />
    <Paginator page={page} />
  </section>
</BaseLayout>
