---
import JsonLD from "@components/JsonLD.astro"
import BaseLayout from "@layouts/BaseLayout.astro"
import { absURL } from "@utils/resolve-url"

import type { GetStaticPaths } from "astro"
import { getCollection } from "astro:content"
import { render } from "astro:content"

export const getStaticPaths = (async () => {
  const pageEntries = await getCollection("page", ({ data, id }) => id !== "/" && !data.draft)

  return pageEntries.map((entry) => ({
    params: { page: entry.id },
    props: entry,
  }))
}) satisfies GetStaticPaths

const entry = Astro.props
const { Content } = await render(entry)
---

<BaseLayout
  {...entry.data}
  ogImage={absURL(`og-images/${entry.id}.png`)}
  keywords={entry.data.tags || entry.data.categories}
>
  <article>
    <h1>{entry.data.title}</h1>
    <Content />
  </article>
  <div class="hidden">
    {entry.data.tags?.map((i) => <p data-pagefind-filter="tag">{i}</p>)}
    {entry.data.categories?.map((i) => <p data-pagefind-filter="category">{i}</p>)}
    <p data-pagefind-filter="year">{entry.data.pubDate.getFullYear()}</p>
  </div>
  <JsonLD page={entry} />
</BaseLayout>
