---
import { getCollection } from 'astro:content'
import { render } from 'astro:content'
import { absURL, relURL } from '../utils/url'
import { findPageBySection } from '../utils/find-page-by-section'

import Layout from '../layouts/Layout.astro'

export async function getStaticPaths() {
  const sections = await getCollection('section')

  return sections
    .filter((s) => s.id != '/')
    .map((s) => ({
      params: { section: s.id },
      props: s
    }))
}

const section = Astro.props
const { data } = section
const { Content } = await render(section)

const posts = findPageBySection(section.id, await getCollection('page'))
---

<Layout
  title={data.title}
  description={data.description}
  image={absURL(`og-image/${section.id}.png`)}
  keywords={data.tags}
>
  <section>
    <article>
      <h1>{data.title}</h1>
      <Content />
    </article>
  </section>

  <section>
    <div>
      {
        posts.map((p) => (
          <div>
            <a href={relURL(p.id)}>{p.data.title}</a>
          </div>
        ))
      }
    </div>
  </section>
</Layout>
