---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { render } from 'astro:content'
import { absURL } from '../utils/url'
import { Picture } from 'astro:assets'

export async function getStaticPaths() {
  const pages = await getCollection('page')

  return pages
    .filter((p) => p.id != '/')
    .map((p) => ({
      params: { page: p.id },
      props: p
    }))
}

const pages = Astro.props
const { data } = pages
const { Content } = await render(pages)
---

<Layout
  title={data.title}
  description={data.description}
  image={absURL(`og-image/${pages.id}.png`)}
  keywords={data.tags}
  pageType="article"
>
  <article>
    <header>
      <h1>{data.title}</h1>
      {
        data.heroImage && (
          <Picture
            src={data.heroImage}
            alt={data.title}
            layout="constrained"
            priority={true}
            inferSize={true}
            class:list={['rounded-sm']}
          />
        )
      }
    </header>
    <Content />
  </article>
</Layout>
