---
import { getCollection } from 'astro:content'
import Layout from '../layouts/Layout.astro'
import { render } from 'astro:content'
import Prose from '../components/Prose.astro'
import { absURL } from '../utils/url'

export async function getStaticPaths() {
  const sections = await getCollection('section')

  return sections
    .filter((s) => s.id != '/')
    .map((s) => ({
      params: { section: s.id },
      props: s
    }))
}

const section = Astro.props
const { data } = section
const { Content } = await render(section)
---

<Layout
  title={data.title}
  description={data.description}
  image={absURL(`og-image/${section.id}.png`)}
  keywords={data.tags}
>
  <Prose>
    <h1>{data.title}</h1>
    <Content />
  </Prose>
</Layout>
