---
import { CFG } from "@config"
import { relURL } from "@utils/resolve-url"

const { footer } = CFG
const authorName = footer?.authorName || CFG.author
const authorLink = footer?.authorLink
  ? footer.authorLink.startsWith("/")
    ? relURL(footer.authorLink)
    : footer.authorLink
  : undefined
---

<footer
  class="flex min-h-16 flex-col items-center justify-center gap-2 border-t border-neutral-200 px-4 py-8 text-center text-xs sm:flex-row sm:justify-between sm:px-8 sm:py-0 dark:border-neutral-800 [&_a]:underline"
>
  <p>
    Di buat dengan
    <span aria-label="Kopi Hangat">☕</span>
    menggunakan
    <a href="https://astro.build/" rel="external" target="_blank">
      <span>{Astro.generator}</span>
    </a>
  </p>
  <p>
    Copyright &copy; {new Date().getFullYear()}
    {
      authorLink ? (
        <a href={authorLink}>{authorName}</a>
      ) : (
        <span>{authorName}</span>
      )
    }. License under
    {
      footer?.licenseLink ? (
        <a href={footer.licenseLink} rel="external license" target="_blank">
          {footer.license || "All rights reserved"}
        </a>
      ) : (
        <span>{footer?.license || "All rights reserved"}</span>
      )
    }
  </p>
</footer>
