---
import { Picture } from 'astro:assets'
import Logo from '../../assets/images/logo.png'
import { SITE } from '../../../site.config'
---

<a href={SITE.baseURL} class="group">
  <figure class="flex items-center gap-3">
    <Picture
      formats={['avif', 'webp']}
      priority={true}
      quality={'max'}
      src={Logo}
      alt={SITE.title}
      width={50}
      height={50}
      class:list={[
        'rounded-2xl border transition-all duration-300',
        'border-neutral-200 shadow-xs/20',
        'dark:border-neutral-800',
        'group-hover:scale-110 group-hover:shadow-xs/100'
      ]}
    />
    <figcaption class="grid leading-6">
      <strong
        class:list={[
          'text-xl uppercase transition-all duration-300',
          'text-black text-shadow-2xs',
          'dark:text-white',
          'group-hover:translate-x-2'
        ]}
      >
        {SITE.title}
      </strong>
      <em
        class:list={[
          'text-xs not-italic transition-all duration-300',
          'text-neutral-700 text-shadow-2xs',
          'dark:text-neutral-400',
          'group-hover:translate-x-1'
        ]}
      >
        {SITE.subtitle}
      </em>
    </figcaption>
  </figure>
</a>
