---
import { Picture } from 'astro:assets'
import { SITE } from '../consts'
import { absURL } from '../utils/url'

const { author } = SITE
---

<figure class="space-x-1.5">
  <Picture
    src={SITE.logo.image}
    alt={author.name}
    width={120}
    height={120}
    priority={true}
    quality={'max'}
    class:list={[
      'rounded-full aspect-square border-2 ',
      'dark:border-neutral-700 dark:shadow-sm/100'
    ]}
  />
  <figcaption class="grid gap-1">
    <a href={absURL('/')}>
      <strong class="text-xl dark:text-white dark:hover:text-violet-400">{author.name}</strong>
    </a>
    <em class="text-sm">{author.bio}</em>
  </figcaption>
</figure>
