---
import { SITE } from '../../../site.config'
const { license, year, url } = SITE.copyright
const { name } = SITE.author
---

<aside>
  <p class="text-center text-sm">
    <span>Copyright &copy; {year} <a href={SITE.baseURL} class="underline">{name}</a>.</span>
    {
      url ? (
        <a href={url} class="underline">
          {license}
        </a>
      ) : (
        <span>{license}</span>
      )
    }
  </p>
</aside>
